<div class="hello">
	<div class="content">
		<div data-bind="view: 'header'"></div>
	
		<p><label>First name</label> <input class="form-control" data-bind="textInput: @firstName" /></p>
		<p><label>Last name</label> <input class="form-control" data-bind="textInput: @lastName" /></p>
		<p><label>Full name</label><h2 class="result" data-bind="text: fullName"></h2></p>

		<button class="btn btn-primary" data-bind="text: 'Next: ' + $root.currentExample.title, command: $root.nextExampleCmd"></button>
	</div>
	<div data-bind="view: 'state'"></div>
</div>
