<div class="hello">
	<div class="content">
		<div data-bind="view: 'header'"></div>
			
		<h2 class="example-title">Example: Hello-World</h2>

		<p>This basic example demonstrates how the values of two input elements can be combined to automatically populate a result field while the user is typing.</p> 
				
		<p>The two text boxes are bound to <a target="_blank" href="http://webrxjs.org/docs/observable-properties.html">Observable Properties</a> on a view-model. 
			The full name display is bound to an output property, whose value is calculated in terms of the observables.</p>

		<div data-bind="component: 'hello-content'" class="example-content"></div>

		<a class="btn btn-primary btn-sm" target="_blank" data-bind="attr: { href: $root.currentExampleViewModelSourceLink }">Script Source</a>
		<a class="btn btn-primary btn-sm" target="_blank" data-bind="attr: { href: $root.currentExampleViewSourceLink }">HTML Source</a>
		<a class="btn btn-success btn-sm" data-bind="sref: 'hello-stateful'">Next: Stateful Hello World</a>
	</div>
	<div data-bind="view: 'state'"></div>
</div>