<div class="observable-list-projection">
	<div class="content">
		<div data-bind="view: 'header'"></div>
			
		<h2 class="example-title">Example: Observable-List-Projections</h2>

		<p>This example utilizes WebRx's very useful observable-list-projections. A projected <a href="http://webrxjs.org/docs/output-lists.html">Observable List</a> 
			is a read-only view of of a source observable list that is automatically kept in sync with its source. What makes these projection so useful is 
			that list-projections can apply filtering, re-ordering and mapping operations on the fly.</p> 
		
		<p>The planetsToShow projection used in this example filters the planets list to only include planets of a user selected category.
		</p> 

		<div data-bind="component: 'observable-list-projection-content'" class="example-content observable-list-projection"></div>

		<a class="btn btn-primary btn-sm" target="_blank" data-bind="attr: { href: $root.currentExampleViewModelSourceLink }">Script Source</a>
		<a class="btn btn-primary btn-sm" target="_blank" data-bind="attr: { href: $root.currentExampleViewSourceLink }">HTML Source</a>
		<a class="btn btn-success btn-sm" data-bind="sref: 'search-engine'">Next: Search Engine</a>
	</div>
	<div data-bind="view: 'state'"></div>
</div>