<div class="hello">
	<div class="content">
		<div data-bind="view: 'header'"></div>
			
		<h2 class="example-title">Example: Stateful Hello-World</h2>

		<p>This example behaves exactly like the previous example with the difference that this version
			preserves its state even when the user navigates away and returns later on. 
		</p> 
				
		<div data-bind="component: 'hello-stateful-content'" class="example-content"></div>

		<a class="btn btn-primary btn-sm" target="_blank" data-bind="attr: { href: $root.currentExampleViewModelSourceLink }">Script Source</a>
		<a class="btn btn-primary btn-sm" target="_blank" data-bind="attr: { href: $root.currentExampleViewSourceLink }">HTML Source</a>
		<a class="btn btn-success btn-sm" data-bind="sref: 'hello-stateful'">Next: Stateful Hello World</a>
	</div>
	<div data-bind="view: 'state'"></div>
</div>