<div class="welcome">
	<div class="content">
		<div data-bind="view: 'header'"></div>

		<h3>Welcome to WebRx Examples</h3>
		<br>
		<p>This application provides a browsable collection of examples implemented using the <a href="http://webrxjs.org">WebRx</a> Framework.</p>

		<p>If you have an example of which you think that it might be a good fit for this collection, feel free to submit a <a href="https://github.com/WebRxJS/WebRx-Examples">Pull-Request.</a></p>
	
		<button class="btn btn-primary" data-bind="text: 'Next: ' + $root.currentExample.title, command: $root.nextExampleCmd"></button>
		<a class="btn btn-primary" target="_blank" href="https://twitter.com/share?source=tweetbutton&text=WebRx Examples @webrxjs"><i class="fa fa-twitter"></i> Share</a>
	</div>
		
	<div data-bind="view: 'state'"></div>
</div>
