<div class="output-params">
	<div class="content">
		<div data-bind="view: 'header'"></div>
			
		<h2 class="example-title">Example: Output-Properties</h2>

		<p>Output properties are observable properties that are backed by an Rx-Observable. Output properties are read-only, 
			but will still fire change notifications. This example displays a countdown-timer that counts down from 10 to 1 at a one second interval.</p>

		<div data-bind="component: 'output-properties'" class="example-content"></div>

		<a class="btn btn-primary btn-sm" target="_blank" data-bind="attr: { href: $root.currentExampleViewModelSourceLink }">Script Source</a>
		<a class="btn btn-primary btn-sm" target="_blank" data-bind="attr: { href: $root.currentExampleViewSourceLink }">HTML Source</a>
		<a class="btn btn-success btn-sm" data-bind="sref: 'hello-stateful'">Next: Stateful Hello World</a>
	</div>
	<div data-bind="view: 'state'"></div>
</div>