$primary-color: #FFF;
$max-width: 800px;

html {
  height: 100%;
  background-color: black;
}

body {
  color: $primary-color;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: black;
  overflow-x: hidden;
}

.pt-perspective {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  perspective: 1200px;
}

.pt-perspective > div {
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;

  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);

  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;

  /* Fix for IE11 which does not support preserve-3d */
  -ms-transform: none;

  background: #7bb7fa;
}

.pt-perspective > div > div > div {
  max-width: $max-width;
  margin: 0 auto;
  height: 100%;
  padding-bottom: 50px;
}

.pt-perspective > div > div > div .content {
  padding: 1em;
}

.header,
.header:hover {
  color: $primary-color;
}

.header h1 {
  font-weight: 300;
  font-size: 3.6em;
  line-height: 1;
  letter-spacing: 6px;
  top: 12%;
  width: 100%;
  text-transform: uppercase;
  word-spacing: -0.3em;
  margin-top: 1em;
  margin-bottom: 0.75em;
  display: inline-block;
}

.header h1 span {
  font-family: 'Satisfy', serif;
  font-weight: 400;
  font-size: 40%;
  text-transform: none;
  word-spacing: 0;
  letter-spacing: 0;
  display: block;
  opacity: 0.4;
}

.header h1 img {
  height: 50px;
  padding: 0;
  margin: 0;
  margin-right: 10px;
  vertical-align: bottom;
  opacity: 0.4;
  transition: all 0.4s ease;
}

.header h1 strong {
  color: rgba(0, 0, 0, 0.1);
  transition: all 0.4s ease;
}

.header:hover h1 img {
    opacity: 1;
}

.header:hover h1 strong {
  color: rgba(0, 0, 0, 0.3);
}


.stopped {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}

.running {
  -webkit-animation-play-state: running;
  animation-play-state: running;
}

.fadeIn.stopped {
  opacity: 0;
  transition: opacity 1.25s ease-in;
}

.fadeIn.running {
  opacity: 1;
}

.fadeOut.stopped {
  opacity: 1;
  transition: opacity 1.25s ease-out;
}

.fadeOut.running {
  opacity: 0;
}

.fadeInFast.stopped {
  opacity: 0;
  transition: opacity 0.3s ease-in;
}

.fadeInFast.running {
  opacity: 1;
}

.fadeOutFast.stopped {
  opacity: 1;
  transition: opacity 0.3s ease-out;
}

.fadeOutFast.running {
  opacity: 0;
}

.hidden {
  display: none;
}

.state-monitor {
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 0.75em 1em 0.75em 1em;
  text-align: left;
  font-size: 0.8em;
  width: 100%;
  max-width: $max-width;
}

.state-monitor h5 {
  margin: 0;
  margin-bottom: 0.4em;
}

.state-monitor table tr td:nth-child(1),
.state-monitor table tr td:nth-child(3),
.state-monitor table tr td:nth-child(5) {
  color: #e0e0e0;
}

.state-monitor table tr td {
  padding-right: 1em;
}

.example-description {
  margin-top: 2em;
  margin-bottom: 1.5em;
}

.example-content {
  margin-top: 2em;
  margin-bottom: 1em;
  background-color: rgba(0, 0, 0, 0.03);
  padding: 0.75em 1em 0.75em 1em;
  width: 100%;
  border-radius: 2px;
}

.example-content select {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  border: 0;
  padding: 3px;
  border-radius: 2px;
}

.example-title {
  margin-top: 0;
  margin-bottom: 0.5em;
}

.btn.next {
  display: block;
  margin: 0;
  margin-top: 1em;
}

.content .result {
  margin-top: 0;
}

.observable-list-projection .example-content .planets {
    position: relative;
}

.observable-list-projection .example-content .planet {
    position: absolute; 
    background-color: #bbdefb;
    color: #303030;
    padding: 0.4em;
    margin-bottom: 0.5em;
    font-size: 0.75em;
    width: 100%;
    transition: top 0.3s ease, opacity 0.9s ease;
}

.observable-list-projection .example-content .planet.rock {
    background-color: #f0f0f0;
}

.observable-list-projection .example-content input {
    vertical-align: middle;
    margin-bottom: 0.4em;
    margin-right: 0.25em;
}

.observable-list-projection .example-content label {
    margin-right: 0.6em;
}

.observable-list-projection .example-content li {
    list-style-type: disc;
    margin-left: 20px;
}


.search-engine .example-content {
}

.search-engine .example-content input {
  display: inline-block !important;
  width: 100% !important;
}

.search-engine .example-content #results {
  display: inline-block;
  width: 70% !important;
}

.search-engine .example-content .hit {
  text-align: left;
}

.search-engine .example-content .hit p {
  color: #006621;
}

.search-engine .example-content h3 {
  color: #f8f8f8;
  font-size: 90%;
  font-weight: normal;
  text-align: left;
}

.search-engine .example-content .hit h4 {
  margin-bottom: 0.15em;
  line-height: 1.3em;
  color: #ffffff;
}

.search-engine .example-content #main-logo-container {
    line-height: 2em;
    margin-bottom: 1em;
}

.search-engine .example-content #main-logo {
    font-size: 400%;
    margin: 0;
    text-shadow: 0 0 3px #808080;
}

.search-engine .example-content .logo .x {
    font-weight: bold;
    color: #b7178c;
}


.todomvc .example-content #header h1 {
  font-size: 40px;
}

.todomvc .example-content #filters {
	margin: 0;
	padding: 0;
	list-style: none;
}

.todomvc .example-content label {
	font-weight: normal;
  margin: 0;
}

.todomvc .example-content input {
  color: white;
}

.todomvc .example-content #footer {
	display: table;
  width: 100%;
  margin-bottom: 0.5em;
}

.todomvc .example-content #todo-count {
  text-align: left;
  width: 25%;
}
.todomvc .example-content #filters {
  text-align: center;
  width: 50%;
}
.todomvc .example-content #footer-buttons {
  text-align: right;
  width: 25%;
  display: table-cell;
}


.todomvc .example-content #filters {
  display: table-cell;
}

.todomvc .example-content #filters li {
	display: inline;
}

.todomvc .example-content #filters li a {
	color: inherit;
	margin: 3px;
	padding: 3px 7px;
	text-decoration: none;
	border: 1px solid transparent;
	border-radius: 3px;
}

.todomvc .example-content #filters li a.active,
.todomvc .example-content #filters li a:hover {
	border-color: rgba(0, 0, 0, 0.2);
}

.todomvc .example-content #todo-count {
  display: table-cell;
}

.todomvc .example-content #clear-completed, .todomvc .example-content #clear-completed:active {
  margin: 0;
}

.todomvc .example-content #new-todo {
  	font-size: 24px;
}

.todomvc .example-content #todo-list button,
.todomvc .example-content #todo-list input[type="checkbox"],
.todomvc .example-content #toggle-all {
  outline: none;
  padding: 0;
  border: 0;
  background: none;
}

.todomvc .example-content #todo-list li.editing .view {
	display: none;
}

.todomvc .example-content #todo-list {
  padding: 0;
  list-style: none;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.todomvc .example-content #todo-list li  {
  position: relative;
	font-size: 24px;
}
 
.todomvc .example-content #todo-list li .toggle,
.todomvc .example-content #toggle-all {
	text-align: center;
	width: 40px;
	/* auto, since non-WebKit browsers doesn't support input styling */
	height: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto 0;
	border: none; /* Mobile Safari */
	-webkit-appearance: none;
	appearance: none;
}

.todomvc .example-content #todo-list li .toggle:after,
.todomvc .example-content #toggle-all:after {
	content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#ededed" stroke-width="3"/></svg>');
}

.todomvc .example-content #todo-list li .toggle:checked:after,
.todomvc .example-content #toggle-all:checked:after {
	content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#bddad5" stroke-width="3"/><path fill="#319f34" d="M72 25L42 71 27 56l-4 4 20 20 34-52z"/></svg>');
}

.todomvc .example-content #todo-list li .destroy {
	display: none;
	position: absolute;
	top: 0;
	right: 10px;
	bottom: 0;
	width: 40px;
	height: 40px;
	margin: auto 0;
	font-size: 30px;
	color: #cc9a9a;
	margin-bottom: 11px;
	transition: color 0.2s ease-out;
}

.todomvc .example-content #todo-list li .destroy:hover {
	color: #f44336;
}

.todomvc .example-content #todo-list li .destroy:after {
	content: 'x';
}

.todomvc .example-content #todo-list li:hover .destroy {
	display: block;
}

.todomvc .example-content #todo-list li label {
  white-space: pre;
  word-break: break-word;
  padding: 5px 60px 10px 15px;
  margin-left: 45px;
  display: block;
  line-height: 1.2;
  transition: color 0.4s;
}

.todomvc .example-content #todo-list li.completed label {
	color: #d9d9d9;
	text-decoration: line-through;
}

.todomvc .example-content #todo-list li .edit {
  display: none;
	font-size: 24px;
  margin-left: 60px;
  width: calc(100% - 60px);
  margin-bottom: 9px;
}

.todomvc .example-content #todo-list li.editing .edit {
  display: block;
}

@media only screen and (max-width: 768px) {
    .content {
        padding-left: 1em;
        padding-right: 1em;
    }
    
    .header h1 {
      font-size: 2.6em;
      margin-top: 0.5em;
      margin-bottom: 0.5em;
    }
}