<div class="state-monitor">
    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title">Routing State</h3>
        </div>
        <div class="panel-body">
            <table>
                <tbody>
                    <tr>
                        <td>State</td>
                        <td data-bind="text: '\'' + name + '\''"></td>
                    </tr>
                    <tr>
                        <td>Route</td>
                        <td data-bind="text: route"></td>
                    </tr>
                    <tr>
                        <td>Params</td>
                        <td data-bind="text: params"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>