<div class="state-monitor">
        <h5>Routing State Monitor</h5>
        <table>
            <tbody>
                <tr>
                    <td>State</td>
                    <td data-bind="text: '\'' + name + '\''"></td>
                    <td>Route</td>
                    <td data-bind="text: route"></td>
                    <td>Params</td>
                    <td data-bind="text: params"></td>
                </tr>
                <tr>
                    <td>Views</td>
                    <td colspan="5" data-bind="text: views"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>