<div class="state-monitor">
        <h3>Routing State Monitor</h3>
        <table>
            <tbody>
                <tr>
                    <td>State</td>
                    <td data-bind="text: '\'' + name + '\''"></td>
                </tr>
                <tr>
                    <td>Route</td>
                    <td data-bind="text: route"></td>
                </tr>
                <tr>
                    <td>Params</td>
                    <td data-bind="text: params"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>